@import "../../sass/flex";
.layout-flex {
  
    @include flex();
    @include flex-direction(row);
    //@include flex-align(center);

    &--inline-reverse-centered {
        @include flex-direction(row-reverse);
        @include flex-just(flex-end);
        @include flex-align(center);
    }

    &--inline-centered {
        @include flex-direction(row);
        @include flex-just(flex-start);
        @include flex-align(center);
    }

    &--column {
        @include flex-direction(column);
    }

    &--list {
        @include flex-direction(column);
        @include flex-align(center);
        height: 100%;
        width: 100%;
    }

    &--column-reverse {
        @include flex-direction(column-reverse);
    }
    &--row-reverse {
        @include flex-direction(row-reverse);
    }
    &--between {
        @include flex-just(space-between);
    }
    &--around {
        @include flex-just(space-around);
    }
    &--evenly {
        @include flex-just(space-evenly);
    }
    &--center {
        @include flex-just(center);
    }
    &--start {
        @include flex-just(flex-start);
    }

    &--end {
        @include flex-just(flex-end);
    }

    &--centered {
        @include flex-align(center);
        @include flex-just(center);
    }
    &--align-stretch {
        @include flex-align(stretch);
    }
    &--stretch {
        @include flex-just(stretch);
    }
    &--align-start {
        @include flex-align(flex-start);
    }
    &--align-center {
        @include flex-align(center);
    }

    &--cover {
        width: 100%;
        height: 100%;
    }

    &--aspect-fit {
        @include flex;
        @include flex-align(center);
        @include flex-just(center);
        height: 100%;
        > * {
            max-width: 100%;
            width: 100%;
            max-height: 100%;
        }
    }

    &--aspect-fill {
        @include flex;
        @include flex-align(center);
        @include flex-just(center);
        height: 100%;

        > * {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &--wrap {
        @include flex-wrap-parent(wrap);
    }

    &--content-start{
        @include flex-align-content(flex-start);
    }
}
