@import "../../sass/reset" ;
.container-fullscreen{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width:100%;
    overflow:hidden;
    
    &--overflow{
      overflow:auto;
    }
  
    &--overflow-y{
      overflow-y:scroll;
    }

    
  
    &--adapt{
      min-height: calc(var(--vh, 1vh) * 100);
      height:auto;
    }

  }
  